body{
    margin: 0;
    height: 100vh;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'segoe UI',sans-serif; 
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeSlide 1.5s ease-out forwards;
    text-shadow: 2px 2px 2px #00ccff;
}
.button{
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #00ccff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeSlide 2s ease-out forwards;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.page2{
    margin: 0;
    height: 100vh;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00ffcc;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    text-align: center;
}
.typing{
    font-size: 4rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #00ffcc;
    width: 0;
    animation: typing 3s steps(30) forwards,blink 0.75s step-end infinite;
    margin-bottom: 20px;
}
@keyframes typing{
    from{ width: 0;}
    to{ width: 18ch;}
}
@keyframes blink{
    50%{ border-color: transparent;}
}
h3{
    font-size: 1.5rem;
    max-width: 600px;
    color: white;
    margin-bottom: 30px;
    animation: fadeIn 2s ease-out forwards;
    opacity: 0;
}
.btn{
    padding: 12px 24px;
    font-size: 1.5rem;
    background-color: #00ccff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    animation: fadeIn 3s ease-out forwards;
    opacity: 0;
}
.btn:hover{
    background-color: #0099cc;
}
@keyframes fadeIn{
to{
    opacity: 1;
    transform: translateY(0);
}
from{
    opacity: 0;
    transform: translateY(30px);
}
}
.button:hover{
    background-color: #0099cc;
}
@keyframes fadeSlide{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.page3{
    animation: colorchange 12s infinite;
    text-align: center;
}
@keyframes colorchange{
    0%{ background-color: #000000;}
    25%{ background-color: wheat;}
    50%{ background-color: bisque;}
    100%{ background-color: #000000;}
}
h1{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: #00ccff;
    color: #ffffff;
    text-shadow: 5px 5px 5px black;
    box-shadow: 5px 5px 5px black;
}
label{
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px #0099cc ,2px 2px 2px black;
}
.bounce-in{
    animation: bounceIn 5s ease-in-out both;
}
@keyframes bounceIn{
    0%{
        transform: scale(0.2);
        opacity: 0;
    }
    50%{
        transform: scale(0.7);
        opacity: 1;
    }
    70%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(0.7);
    }
}
#output{
    color: whitesmoke;
    text-shadow: 1px 2px 3px #0099cc,1px 2px 3px black;
    font-size: 15px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}